# Ignore Gradle project-specific cache directory
*gradlew*
*gradle/

# Ignore Gradle build output directory
*build

# Ignore Mac Defaults
.DS_Store

# Ignore Eclipse project settings
*.classpath
*.project
*.settings/
*.class
*bin

*.idea/
*.ipynb_checkpoints
*out
