# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Mac Defaults
.DS_Store

# Ignore Eclipse project settings
.classpath
.project
.settings/
*.class
/bin/
